<h1>Character Sheet</h1>
<table>
	<tr>
		<td>NAME</td>
		<td>PLAYER</td>
		<td>POINT TOTAL</td>
		<td>UNSPENT POINTS</td>
	</tr>
	<tr>
		<td><input [value]="name" (input)="name = $event.target.value"/></td>
		<td><input [value]="player" (input)="player = $event.target.value"/></td>
		<td>{{pointTotal}}</td>
		<td>{{unspentPoints}}</td>
	</tr>
	<tr>
		<td>HEIGHT</td>
		<td>WEIGHT</td>
		<td>SIZE MODIFIER</td>
		<td>PERSONAL TECH LEVEL</td>
	</tr>
	<tr>
		<td><input [value]="height" (input)="height = $event.target.value"/></td>
		<td><input [value]="weight" (input)="weight = $event.target.value"/> lbs</td>
		<td>{{size}}</td>
		<td>{{personalTechLevel}}</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><button (click)="increaseStat('size')">+</button><button (click)="decreaseStat('size')">-</button></td>
		<td><button (click)="increaseStat('personalTechLevel')">+</button><button (click)="decreaseStat('personalTechLevel')">-</button></td>
	</tr>
	<tr>
		<td>APPEARANCE</td>
		<td>DESCRIPTION</td>
		<td>BUILD</td>
	</tr>
	<tr>
		<td>
			<select [value]="appearance" (input)="appearance = $event.target.value">
				<option value=0>Horrific</option>
				<option value=1>Monstrous</option>
				<option value=2>Hideous</option>
				<option value=3>Ugly</option>
				<option value=4>Unattractive</option>
				<option value=5>Average</option>
				<option value=6>Attractive</option>
				<option value=7>Handsome/Beautiful</option>
				<option value=8>Very Handsome/Beautiful</option>
				<option value=9>Transcendent</option>
			</select>
			<br>
			<input type="checkbox" [checked]= "androgynous" (change)= "androgynous = !androgynous"> Androgynous <br>
			<input type="checkbox" [checked]= "impressive" (change)= "impressive = !impressive"> Impressive <br>
			<input type="checkbox" [checked]= "universal" (change)= "universal = !universal"> Universal <br>
			<input type="checkbox" [checked]= "offTheShelfLooks" (change)= "offTheShelfLooks = !offTheShelfLooks"> Off-the-Shelf Looks
		</td>
		<td><input [value]="appearanceDescription" (input)="appearanceDescription = $event.target.value"/></td>
		<td><select [value]="build" (input)="build = $event.target.value">
			<option value=0>Skinny</option>
			<option value=1>Average</option>
			<option value=2>Overweight</option>
			<option value=3>Fat</option>
			<option value=4>Very Fat</option>
		</select></td>
	</tr>
</table>
<hr/>
<table>
	<tr>
		<td>
			ST
		</td>
		<td>
			DX
		</td>
		<td>
			IQ
		</td>
		<td>
			HT
		</td>
		<td>
			HP
		</td>
		<td>
			WILL
		</td>
		<td>
			PER
		</td>
		<td>
			FP
		</td>
	</tr>
	<tr>
		<td>
			{{st}}
		</td>
		<td>
			{{dx}}
		</td>
		<td>
			{{iq}}
		</td>
		<td>
			{{ht}}
		</td>
		<td>
			{{hp}}
		</td>
		<td>
			{{will}}
		</td>
		<td>
			{{per}}
		</td>
		<td>
			{{fp}}
		</td>
	</tr>
	<tr>
		<td><button (click)="increaseStat('st')">+</button><button (click)="decreaseStat('st', 1)">-</button></td>
		<td><button (click)="increaseStat('dx')">+</button><button (click)="decreaseStat('dx', 1)">-</button></td>
		<td><button (click)="increaseStat('iq')">+</button><button (click)="decreaseStat('iq', 1)">-</button></td>
		<td><button (click)="increaseStat('ht')">+</button><button (click)="decreaseStat('ht', 1)">-</button></td>
		<td><button (click)="increaseStat('hp')">+</button><button (click)="decreaseStat('hp')">-</button></td>
		<td><button (click)="increaseStat('will')">+</button><button (click)="decreaseStat('will')">-</button></td>
		<td><button (click)="increaseStat('per')">+</button><button (click)="decreaseStat('per')">-</button></td>
		<td><button (click)="increaseStat('fp')">+</button><button (click)="decreaseStat('fp')">-</button></td>
	</tr>
</table>
<hr/>
<table>
	<tr>
		<td>BASIC LIFT</td>
		<td>DAMAGE Thr</td>
		<td>Sw</td>
		<td>BASIC SPEED</td>
		<td>BASIC MOVE</td>
	</tr>
	<tr>
		<td>{{basicLift}} lbs</td>
		<td>{{damageThr}}</td>
		<td>{{damageSw}}</td>
		<td>{{basicSpeed}}</td>
		<td>{{basicMove}} yards/second</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td><button (click)="increaseStat('basicSpeed')">+</button><button (click)="decreaseStat('basicSpeed')">-</button></td>
		<td><button (click)="increaseStat('basicMove')">+</button><button (click)="decreaseStat('basicMove')">-</button></td>
	</tr>
</table>
<hr/>
<table>
	<tr>
		<td>ENCUMBRANCE</td>
		<td></td>
		<td>MOVE</td>
		<td></td>
		<td>DODGE</td>
		<td></td>
	</tr>
	<tr>
		<td>None (0) = BL</td>
		<td>{{basicLift}} lbs</td>
		<td>BM x 1</td>
		<td>{{basicMove}} yards/second</td>
		<td>Dodge</td>
		<td>{{dodge}}</td>
	</tr>
	<tr>
		<td>Light (1) = 2 x BL</td>
		<td>{{enc1BasicLift}} lbs</td>
		<td>BM x 0.8</td>
		<td>{{enc1BasicMove}} yards/second</td>
		<td>Dodge -1</td>
		<td>{{enc1Dodge}}</td>
	</tr>
	<tr>
		<td>Medium (2) = 3 x BL</td>
		<td>{{enc2BasicLift}} lbs</td>
		<td>BM x 0.6</td>
		<td>{{enc2BasicMove}} yards/second</td>
		<td>Dodge -2</td>
		<td>{{enc2Dodge}}</td>
	</tr>
	<tr>
		<td>Heavy (3) = 6 x BL</td>
		<td>{{enc3BasicLift}} lbs</td>
		<td>BM x 0.4</td>
		<td>{{enc3BasicMove}} yards/second</td>
		<td>Dodge -3</td>
		<td>{{enc3Dodge}}</td>
	</tr>
	<tr>
		<td>X-Heavy (4) = 10 x BL</td>
		<td>{{enc4BasicLift}} lbs</td>
		<td>BM x 0.2</td>
		<td>{{enc4BasicMove}} yards/second</td>
		<td>Dodge -4</td>
		<td>{{enc4Dodge}}</td>
	</tr>
</table>
<hr/>
<h3>LANGUAGES</h3>
<table>
	<tr>
		<td>NAME</td>
		<td>COMPREHENSION</td>
		<td>COST</td>
	</tr>
	<tr *ngFor="let language of languages; let i = index">
		<td><input [value]="language.name" (change)="updateLanguageName($event.target.value, language)"/></td>
		<td><select [value]="language.comprehension" (change)="updateLanguageComprehension($event.target.value, language)">
				<option value=0>Broken</option>
				<option value=1>Accented</option>
				<option value=2>Native</option>
			</select>
		</td>
		<td>
			<span>{{getLanguageCost(language, i === 0)}}</span>
		</td>
		<td><button (click)="removeLanguage(language)">-</button></td>
	</tr>
	<tr>
		<td><input [value]="newLanguageName" (change)="updateLanguageName($event.target.value)"/></td>
		<td><select [value]="newLanguageComprehension" (change)="updateLanguageComprehension($event.target.value)">
				<option value=-1></option>
				<option value=0>Broken</option>
				<option value=1>Accented</option>
				<option value=2>Native</option>
			</select>
		</td>
		<td></td>
		<td><button (click)="addLanguage()">+</button></td>
	</tr>
</table>