<alert></alert>
<table>
	<tr>
		<td>
			<h1>Character Sheet</h1>
		</td>
		<td>
			<button (click)="saveCharacter()">Save</button>
		</td>
	</tr>
</table>
<table>
	<tr>
		<td>NAME</td>
		<td>PLAYER</td>
		<td>POINT VALUE</td>
		<td>AVAILABLE POINTS</td>
	</tr>
	<tr>
		<td><input [value]="name" (input)="deltas.changeString('name', $event.target.value)"/></td>
		<td><input [value]="player" (input)="deltas.changeString('player', $event.target.value)"/></td>
		<td>{{pointValue}}</td>
		<td>{{availablePoints}}</td>
	</tr>
	<tr>
		<td>HEIGHT</td>
		<td>WEIGHT</td>
		<td>SIZE MODIFIER</td>
		<td>PERSONAL TECH LEVEL</td>
	</tr>
	<tr>
		<td><input [value]="height" (input)="deltas.changeString('height', $event.target.value)"/></td>
		<td><input [value]="weight" (input)="deltas.changeString('weight', $event.target.value)"/> lbs</td>
		<td>{{size}}</td>
		<td>{{personalTechLevel}}</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><button (click)="increaseSize()">+</button><button (click)="decreaseSize()">-</button></td>
		<td><button (click)="deltas.increaseValue('personalTechLevel')">+</button><button (click)="deltas.decreaseValue('personalTechLevel')">-</button></td>
	</tr>
	<tr>
		<td>APPEARANCE</td>
		<td>DESCRIPTION</td>
		<td>BUILD</td>
	</tr>
	<tr>
		<td>
			<select [value]="appearance" (input)="changeAppearanceAppearance($event.target.value)">
				<option value=0>Horrific</option>
				<option value=1>Monstrous</option>
				<option value=2>Hideous</option>
				<option value=3>Ugly</option>
				<option value=4>Unattractive</option>
				<option value=5>Average</option>
				<option value=6>Attractive</option>
				<option value=7>Handsome/Beautiful</option>
				<option value=8>Very Handsome/Beautiful</option>
				<option value=9>Transcendent</option>
			</select>
		</td>
		<td><input [value]="appearanceDescription" (input)="changeAppearanceDescription($event.target.value)"/></td>
		<td><select [value]="build" (input)="deltas.changeEnum('build', $event.target.value)">
			<option value=0>Skinny</option>
			<option value=1>Average</option>
			<option value=2>Overweight</option>
			<option value=3>Fat</option>
			<option value=4>Very Fat</option>
		</select></td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" [checked]= "androgynous" (change)= "changeAppearanceAndrogynous(!androgynous)"> Androgynous <br>
			<input type="checkbox" [checked]= "impressive" (change)= "changeAppearanceImpressive(!impressive)"> Impressive <br>
			<input type="checkbox" [checked]= "universal" (change)= "changeAppearanceUniversal(!universal)"> Universal <br>
			<input type="checkbox" [checked]= "offTheShelfLooks" (change)= "changeAppearanceOffTheShelfLooks(!offTheShelfLooks)"> Off-the-Shelf Looks
		</td>
	</tr>
</table>
<hr/>
<table>
	<tr>
		<td>
			ST
		</td>
		<td>
			DX
		</td>
		<td>
			IQ
		</td>
		<td>
			HT
		</td>
		<td>
			HP
		</td>
		<td>
			WILL
		</td>
		<td>
			PER
		</td>
		<td>
			FP
		</td>
	</tr>
	<tr>
		<td>
			{{st}}
		</td>
		<td>
			{{dx}}
		</td>
		<td>
			{{iq}}
		</td>
		<td>
			{{ht}}
		</td>
		<td>
			{{hp}}
		</td>
		<td>
			{{will}}
		</td>
		<td>
			{{per}}
		</td>
		<td>
			{{fp}}
		</td>
	</tr>
	<tr>
		<td><button (click)="deltas.increaseValue('st')">+</button><button (click)="deltas.decreaseValue('st', 1)">-</button></td>
		<td><button (click)="deltas.increaseValue('dx')">+</button><button (click)="deltas.decreaseValue('dx', 1)">-</button></td>
		<td><button (click)="deltas.increaseValue('iq')">+</button><button (click)="deltas.decreaseValue('iq', 1)">-</button></td>
		<td><button (click)="deltas.increaseValue('ht')">+</button><button (click)="deltas.decreaseValue('ht', 1)">-</button></td>
		<td><button (click)="deltas.increaseValue('hp')">+</button><button (click)="deltas.decreaseValue('hp')">-</button></td>
		<td><button (click)="deltas.increaseValue('will')">+</button><button (click)="deltas.decreaseValue('will')">-</button></td>
		<td><button (click)="deltas.increaseValue('per')">+</button><button (click)="deltas.decreaseValue('per')">-</button></td>
		<td><button (click)="deltas.increaseValue('fp')">+</button><button (click)="deltas.decreaseValue('fp')">-</button></td>
	</tr>
</table>
<hr/>
<table>
	<tr>
		<td>BASIC LIFT</td>
		<td>DAMAGE Thr</td>
		<td>Sw</td>
		<td>BASIC SPEED</td>
		<td>BASIC MOVE</td>
	</tr>
	<tr>
		<td>{{basicLift}} lbs</td>
		<td>{{damageThr}}</td>
		<td>{{damageSw}}</td>
		<td>{{basicSpeed}}</td>
		<td>{{basicMove}} yards/second</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td><button (click)="deltas.increaseValue('basicSpeed')">+</button><button (click)="deltas.decreaseValue('basicSpeed')">-</button></td>
		<td><button (click)="deltas.increaseValue('basicMove')">+</button><button (click)="deltas.decreaseValue('basicMove')">-</button></td>
	</tr>
</table>
<hr/>
<table>
	<tr>
		<td>ENCUMBRANCE</td>
		<td></td>
		<td>MOVE</td>
		<td></td>
		<td>DODGE</td>
		<td></td>
	</tr>
	<tr>
		<td>None (0) = BL</td>
		<td>{{basicLift}} lbs</td>
		<td>BM x 1</td>
		<td>{{basicMove}} yards/second</td>
		<td>Dodge</td>
		<td>{{dodge}}</td>
	</tr>
	<tr>
		<td>Light (1) = 2 x BL</td>
		<td>{{enc1BasicLift}} lbs</td>
		<td>BM x 0.8</td>
		<td>{{enc1BasicMove}} yards/second</td>
		<td>Dodge -1</td>
		<td>{{enc1Dodge}}</td>
	</tr>
	<tr>
		<td>Medium (2) = 3 x BL</td>
		<td>{{enc2BasicLift}} lbs</td>
		<td>BM x 0.6</td>
		<td>{{enc2BasicMove}} yards/second</td>
		<td>Dodge -2</td>
		<td>{{enc2Dodge}}</td>
	</tr>
	<tr>
		<td>Heavy (3) = 6 x BL</td>
		<td>{{enc3BasicLift}} lbs</td>
		<td>BM x 0.4</td>
		<td>{{enc3BasicMove}} yards/second</td>
		<td>Dodge -3</td>
		<td>{{enc3Dodge}}</td>
	</tr>
	<tr>
		<td>X-Heavy (4) = 10 x BL</td>
		<td>{{enc4BasicLift}} lbs</td>
		<td>BM x 0.2</td>
		<td>{{enc4BasicMove}} yards/second</td>
		<td>Dodge -4</td>
		<td>{{enc4Dodge}}</td>
	</tr>
</table>
<hr/>
<h3>LANGUAGES</h3>
<table>
	<tr>
		<td>NAME</td>
		<td>SPOKEN COMPREHENSION</td>
		<td>WRITTEN COMPREHENSION</td>
		<td>COST</td>
	</tr>
	<tr *ngFor="let language of languages; let i = index">
		<td><input [value]="language.name" (change)="updateLanguageName($event.target.value, language, i)"/></td>
		<td><select [value]="language.spokenComprehension" (change)="updateLanguageSpokenComprehension($event.target.value, language, i)">
			<option value=0>None</option>
			<option value=1>Broken</option>
			<option value=2>Accented</option>
			<option value=3>Native</option>
		</select></td>
		<td><select [value]="language.effectiveWrittenComprehension" (change)="updateLanguageWrittenComprehension($event.target.value, language, i)">
			<option value=0>None</option>
			<option value=1>Broken</option>
			<option value=2>Accented</option>
			<option value=3>Native</option>
		</select></td>
		<td>
			<span>{{getLanguageCost(language, i === 0)}}</span>
		</td>
		<td><button (click)="removeLanguage(language)">-</button></td>
	</tr>
	<tr>
		<td><input [value]="newLanguage.name" (change)="updateLanguageName($event.target.value)"/></td>
		<td><select [value]="newLanguage.spokenComprehension" (change)="updateLanguageSpokenComprehension($event.target.value)">
			<option value=0>None</option>
			<option value=1>Broken</option>
			<option value=2>Accented</option>
			<option value=3>Native</option>
		</select></td>
		<td><select [value]="newLanguage.effectiveWrittenComprehension" (change)="updateLanguageWrittenComprehension($event.target.value)">
			<option value=0>None</option>
			<option value=1>Broken</option>
			<option value=2>Accented</option>
			<option value=3>Native</option>
		</select></td>
		<td><span>{{getLanguageCost(newLanguage, languages.length === 0)}}</span></td>
		<td><button (click)="addLanguage()">+</button></td>
	</tr>
</table>
<hr/>
<h3>WEALTH AND STATUS</h3>
<table>
	<tr>
		<td>WEALTH</td>
		<td *ngIf="wealth == 8">LEVEL</td>
		<td>COST</td>
		<td>STATUS</td>
		<td>COST</td>
	</tr>
	<tr>
		<td><select [value]="wealth" (input)="changeWealth($event.target.value)">
			<option value=0>Dead Broke</option>
			<option value=1>Poor</option>
			<option value=2>Struggling</option>
			<option value=3>Average</option>
			<option value=4>Comfortable</option>
			<option value=5>Wealthy</option>
			<option value=6>Very Wealthy</option>
			<option value=7>Rich</option>
			<option value=8>Multimillionaire</option>
		</select></td>
		<td *ngIf="wealth == 8">{{multimillionaireLevel}}</td>
		<td>{{getWealthCost()}}</td>
		<td>{{getEffectiveStatus()}}</td>
		<td>{{getStatusCost()}}</td>
	</tr>
	<tr>
		<td></td>
		<td *ngIf="wealth == 8"><button (click)="increaseMultimillionaireLevel()">+</button><button (click)="decreaseMultimillionaireLevel()">-</button></td>
		<td></td>
		<td><button (click)="deltas.increaseValue('status')">+</button><button (click)="deltas.decreaseValue('status')">-</button></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td>REPUTATION</td>
		<td>REACTION</td>
		<td>PEOPLE AFFECTED</td>
		<td>GROUP</td>
		<td>FREQUENCY</td>
		<td>FREE?</td>
		<td>COST</td>
		<td></td>
	</tr>
	<ng-container *ngFor="let reputation of reputations; let i = index">
		<tr>
			<td><input [value]="reputation.description" (input)="changeReputationDescription($event.target.value, reputation, i)"></td>
			<td>{{reputation.reaction}}</td>
			<td><select [value]="reputation.scope" (input)="changeReputationScope($event.target.value, reputation, i)">
				<option value=0>Almost everyone</option>
				<option value=1>Everyone except this large group</option>
				<option value=2>This large group</option>
				<option value=3>This small group</option>
			</select></td>
			<td><input [value]="reputation.effectiveGroup" (input)="changeReputationGroup($event.target.value, reputation, i)" [disabled]="reputation.scope == 0"></td>
			<td><select [value]="reputation.frequency" (input)="changeReputationFrequency($event.target.value, reputation, i)">
				<option value=0>All the time (100%)</option>
				<option value=1>Sometimes (56%)</option>
				<option value=2>Occasionally (39%)</option>
			</select></td>
			<td><input type="checkbox" [checked]="reputation.free" (change)="changeReputationFree(reputation, i)">
			<td>{{getReputationCost(reputation)}}</td>
			<td><button (click)="removeReputation(reputation)">-</button></td>
		</tr>
		<tr>
			<td></td>
			<td><button (click)="increaseReputationReaction(reputation, i)">+</button><button (click)="decreaseReputationReaction(reputation, i)">-</button></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</ng-container>
	<tr>
		<td><input [value]="newReputation.description" (input)="changeReputationDescription($event.target.value)"></td>
		<td>{{newReputation.reaction}}</td>
		<td><select [value]="newReputation.scope" (input)="changeReputationScope($event.target.value)">
			<option value=0>Almost everyone</option>
			<option value=1>Everyone except this large group</option>
			<option value=2>This large group</option>
			<option value=3>This small group</option>
		</select></td>
		<td><input [value]="newReputation.effectiveGroup" (input)="changeReputationGroup($event.target.value)" [disabled]="newReputation.scope == 0"></td>
		<td><select [value]="newReputation.frequency" (input)="changeReputationFrequency($event.target.value)">
			<option value=0>All the time (100%)</option>
			<option value=1>Sometimes (56%)</option>
			<option value=2>Occasionally (39%)</option>
		</select></td>
		<td><input type="checkbox" [checked]="newReputation.free" (change)="changeReputationFree()">
		<td>{{getReputationCost(newReputation)}}</td>
		<td><button (click)="addReputation()">+</button></td>
	</tr>
	<tr>
		<td></td>
		<td><button (click)="increaseReputationReaction()">+</button><button (click)="decreaseReputationReaction()">-</button></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>ORGANIZATION</td>
		<td>RANK</td>
		<td>DESCRIPTION</td>
		<td>REPLACES STATUS</td>
		<td>COST</td>
		<td></td>
	</tr>
	<ng-container *ngFor="let rank of ranks; let i = index">
		<tr>
			<td><input [value]="rank.organization" (input)="changeRankOrganization($event.target.value, rank, i)"></td>
			<td>{{rank.rank}}</td>
			<td><input [value]="rank.description" (input)="changeRankDescription($event.target.value, rank, i)"></td>
			<td><input type="checkbox" [checked]="rank.replacesStatus" (change)="changeRankReplacesStatus(rank, i)" [disabled]="rankReplacesStatus && !rank.replacesStatus"></td>
			<td>{{getRankCost(rank)}}</td>
			<td><button (click)="removeRank(rank)">-</button></td>
		</tr>
		<tr>
			<td></td>
			<td><button (click)="increaseRank(rank, i)">+</button><button (click)="decreaseRank(rank, i)">-</button></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</ng-container>
	<tr>
		<td><input [value]="newRank.organization" (input)="changeRankOrganization($event.target.value)"></td>
		<td>{{newRank.rank}}</td>
		<td><input [value]="newRank.description" (input)="changeRankDescription($event.target.value)"></td>
		<td><input type="checkbox" [checked]="newRank.replacesStatus" (change)="changeRankReplacesStatus()" [disabled]="rankReplacesStatus && !newRank.replacesStatus"></td>
		<td>{{getRankCost(newRank)}}</td>
		<td><button (click)="addRank()">+</button></td>
	</tr>
	<tr>
		<td></td>
		<td><button (click)="increaseRank()">+</button><button (click)="decreaseRank()">-</button></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>